@import "bootstrap.min.css";
@import "background.css";
@import "text-style.css";


.img {
    border: solid;
    border-width: 2px;
}
@media (min-width: 576px){    
    .img {
        border-color: black;
    }
}
@media (min-width: 768px) { 
    .img {
        border-color: gray;
    }
 }
@media (min-width: 992px) { 
    .img {
        border-color: lightblue;
    }
 }
@media (min-width: 1200px) { 
    .img {
        border-color: darkblue;
    }
 }